# Core
numpy
pandas
tqdm
ipykernel
boto3
botocore
jupyter
ipywidgets
python-dotenv
scikit-learn

# Project Specific
openai
langchain-community
langchain-openai
langchain
pinecone-client
streamlit
tiktoken
webvtt-py
moviepy
transformers
keybert

#Testing
gensim
nltk
